{% extends 'shop/base.html' %}

{% block title %} Home Page {% endblock %}

{% block css %} 
  body{
    background-color: darkgray;
  }
  .carousel-indicators button{
    position: relative;
    top: 50px;
  }
  #carouselExampleIndicators .carousel-control-prev-icon, #carouselExampleIndicators .carousel-control-next-icon {
    background-color: black;
    position: relative;
    
  }
{% endblock %}

{% block body %}

<div class="container my-4">
  {% for product, range, slides in allProducts %}
  <div id="carouselExampleIndicators{{forloop.counter}}" class="carousel slide mb-5" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators{{forloop.counter}}" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1" style="background-color: black;"></button>
      {% for i in range %}
      <button type="button" data-bs-target="#carouselExampleIndicators{{forloop.parentloop.counter}}" data-bs-slide-to="{{i}}" aria-label="Slide 2" style="background-color: black;"></button>
      {% endfor %}
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row">

          <div class="col-sm-3">
              <div class="card" style="width: 18rem;">
                <img src="/media/{{product.0.image}}" class="card-img-top" alt="image" style="width: 255px; height: 355px;">
                <div class="card-body">
                  <h2 class="card-title">{{product.0.model_name}}</h5>
                  <p class="card-text">{{product.0.desc}}</p>
                  <a href="#" class="btn btn-primary">Add to cart</a>
                </div>
              </div>
            </div>

            {% for i in product|slice:"1:" %}
            <div class="col-sm-3">
              <div class="card" style="width: 18rem;">
                <img src="/media/{{i.image}}" class="card-img-top" alt="image" style="width: 255px; height: 355px;">
                <div class="card-body">
                  <h2 class="card-title">{{i.model_name}}</h5>
                  <p class="card-text">{{i.desc}}</p>
                  <a href="#" class="btn btn-primary">Add to cart</a>
                </div>
              </div>
            </div>
            
            {% if forloop.counter|divisibleby:3 and forloop.counter > 0 and not forloop.last %}
        </div>
      </div>
            <div class="carousel-item">
            <div class="row">                 
            {% endif %}
            
            {% endfor %}
           
    </div>
  </div>
  </div>
  </div>
  {% endfor %}
  </div>
{% endblock %}